@font-face {
    font-family: 'Poppins';
    src: local('Poppins Light'), local('Poppins-Light'), url('Poppinslight.woff2') format('woff2'), url('Poppinslight.woff') format('woff'), url('Poppinslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../font_css/BebasNeue\ Bold.otf);
}


*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;


}

body {
    width: 100%;
    height: 100%;
    background: var(--Black, #0E0E0E);
    overflow-x: hidden;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1170px;

    margin: auto;
}

.nav_bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.rightcont {
    display: flex;
    gap: 4.5em;
    justify-content: center;
    align-items: center;
}

.lang_list {
    display: flex;


    color: #FFF;
    font-family: 'Poppins';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    /* 100% */
    letter-spacing: 0.08px;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
}

.logo_page {
    max-width: 165px;
    min-height: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 28px;
    height: 16px;
    flex-shrink: 0;
    background: none;
    border: none;
}

.about {
    margin-top: 92px;
}

.managing {
    display: flex;
    padding-left: 135px;
    gap: 30px;

}

.managing a {
    color: var(--White, #EFEFEF);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active_link {
    color: var(--Yellow, #FDCE00) !important;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img_about {
    width: 100%;
   
    margin-top: 30px;
    position: relative;
}

.aba_h1_f {
    position: absolute;
    color: #FFF;

    /* H1 */
    font-family: 'Bebas Neue';
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    /* 100% */
    letter-spacing: -1.8px;
    bottom: -60px;
}

.pr_car_cont {
   
    display: flex;
    gap: 130px;
    margin-top: 60px;
}

.left_cont_car {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.left_cont_car h2 {
    color: var(--Yellow, #FDCE00);

    /* H2 */
    font-family: Bebas Neue;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    /* 100% */
    letter-spacing: -0.225px;
}
.left_cont_car p{
    color: #FFF;
    
        /* Body text */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
}
.price_avto {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.12px;
}

.list {
    display: flex;
    gap: 39px;
}

.rig_cont_car {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.quesh {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.answer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;

    /* Body text */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.selec_img {
    display: flex;
    gap: 50px;
}

.phone {
    display: flex;
    gap: 50px;
    align-items: center;
    

}

.fa-phone {
    font-size: 20px;
    color: #fff;
}

.prev {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    background: #FDCE00;
    border: none;
    left: -30px;
    border-radius: 50px;
    top: 200px;
}

.fa-arrow-left {
    font-size: 20px;
}

.fa-arrow-right {
    font-size: 20px;
}

.next {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    background: #FDCE00;
    border: none;
    right: -30px;
    border-radius: 50px;
    top: 200px;
}

.nam_list {
    color: var(--White, #EFEFEF);

    /* Body text */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.impo_img {

    max-width: 570px;
    min-height: 400px;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
}

.impo_img img {
    max-width: 570px;
    min-height: 400px;
}

.left_car {
    flex: 1;
}

.center_car {
    flex: 1;
}

.rigt_car {
    flex: 1;
    content: "+4";
    position: relative;
    background-image: url(../Image/Rectangle\ 11.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(80%);

    box-sizing: border-box;
}

.rigt_car img {

    content: "clkdvsnlmld;sadvkln";
}

.img_text {

    top: 45px;
    left: 50px;
    color: #FFF;

    /* H2 */
    font-family: Bebas Neue;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    /* 100% */
    letter-spacing: -0.225px;

    margin-left: 32%;
    margin-top: 17%;
    z-index: 1;
}



/* .rigt_car::before {
    content: "";
    width: 170px;
    height: 120px;
    background: black;
    opacity: 90%;
    position: absolute;
} */




















































.footer {
    min-height: 451px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 61px;


}

.img_footer {
    width: 152px;
    height: 92px;
    flex-shrink: 0;
}

.foot_cont {
    display: flex;
    margin-top: 112px;
    gap: 500px;
    flex-wrap: wrap;
}

.ul_a {
    display: flex;
    gap: 91px;
    flex-direction: wrap;
}

.foot_li {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.foot_li li a {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.855px;
    /* 188.081% */
}

.icon_foot {
    display: flex;
    align-items: center;
    gap: 20px;

}

.icon_foot li:last-child {
    bottom: 10px;
}


.about_product {

    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 130px;
}


.lf_prd_cont {

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;


}

.rig_img_cont {

    flex: 1;
}

.lf_prd_cont h2 {
    color: var(--Yellow, #FDCE00);

    /* H2 */
    font-family: Bebas Neue;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    /* 100% */
    letter-spacing: -0.225px;
}

.lf_prd_cont p {
    color: #FFF;

    /* Body text */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.price_name {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.12px;
}

@media all and (max-width:954px) {
    .foot_cont {


        gap: 44px;

    }
}

@media all and (max-width:568px) {
    .ul_a {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-left: 10px;

    }

    .foot_cont {
        flex-direction: column;
        align-self: start;

    }

    .img_footer {
        margin-left: 10px;
    }

    .icon_foot {
        width: 100px;
        height: 25px;
    }

    .footer {
        gap: 20px;
        justify-content: flex-start;
    }

    .container {
        margin: 0px;
    }

    .foot_cont {
        gap: 20px;
    }
}

.end_home {
    background: #FDCE00;
    color: var(--Black, #0E0E0E);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    display: flex;
    justify-content: center;
}


@media all and (max-width:568px) {

    .end_home {
        font-size: 12px;
    }
}

@media all and (max-width:1200px) {

    .nav_bar {}

    .container {
        padding: 0px 20px 0px 20px;
    }

    .managing {
        padding: 30px;
    }

    .aba_h1_f {
        font-size: 100px;
    }

    .about_cont_sec {}

    .foot_cont {
        gap: 73px;
    }

    .pr_name {
        font-size: 27px;
    }

    .about_product {
        gap: 60px;
    }
    .img_text{
        font-size: 30px;
    }
}

@media all and (max-width:960px) {
    .logo_page {
        width: 133px;
        height: 70px;
        flex-shrink: 0;

    }

    .lono {
        width: 133px;
        height: 70px;
        flex-shrink: 0;
    }

    .aba_h1_f {
        font-size: 80px;
    }

    .continy_abot {
        padding-left: 0px;
    }

    .about_cont_sec {
        padding-right: 0px;
    }

    .kard_product {
        padding: 0px 50px 0px 50px;
    }
    .prev{
        display: none;
    }
    .next{
        display: none;
    }
    .pr_car_cont{
        flex-direction: column-reverse;
    }
    .impo_img{
        align-self: center;
    }
    .img_text{
        font-size: 45px;
       margin-left: 90px;
       margin-top: 50px;
    }

}

@media all and (max-width:760px) {
    .img_about {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .cont_aba_frst {

        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .con_aba_lf {
        padding-left: 20px;
    }

    .cont_abba {

        flex-direction: column-reverse;
        gap: 40px;
    }

    .about_cont_sec {
        margin-top: 40px;
    }

    .pr_card {
        min-height: 500px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 60px;
    }

    .about_product {
        flex-direction: column-reverse;
    }
    .img_text{
        font-size: 30px;
        margin-top: 40px;
        margin-left: 70px;
    }
    .impo_img{
        max-width: 400px;
            min-height: 200px;
    }
    .impo_img img{
        max-width: 400px;
        min-height: 200px;
    }
    .rig_cont_car{
        gap: 20px;
    }
}
.pr_car_cont{
    gap: 60px;
}
.co_ri_abb {
    max-width: 470px;
    min-height: 239px;
    flex-shrink: 0;
}

@media all and (max-width:621px) {
    .img_about {
        min-height: 200px;
    }

    .img_a {
        min-height: 200px;
    }
}

@media all and (max-width:569px) {
    .img_pr {
        /* max-width: 270px;
        min-height: 246px;
        flex-shrink: 0; */
        max-width: 100%;
        min-height: 25%;
    }
    .img_text{
        font-size: 22px;
        margin-top: 20px;
        margin-left: 50px;
    }
}

@media all and (max-width:480px) {
    .lang_list {
        display: none;
    }

    .managing a:first-child {
        display: none;
    }

    .img_about {
        height: 200px;
        margin-top: 40px;
    }

    .img_a {
        width: 100%;
        min-height: 179px;
    }

    .aba_h1_f {
        font-size: 54px;
    }

    .about {
        margin-top: 40px;
    }

    .continy_abot {
        margin-top: 50px;
    }

    .cont_aba_frst {

        flex-direction: column;
        gap: 40px;
        align-items: start;
    }
    .img_text{
        margin-top: 10%;
        margin-left: 40%;
    }
    .selec_img{
        gap: 20px;
    }

}

@media all and (max-width:425px) {
    .img_pr {
        /* max-width: 270px;
            min-height: 246px;
            flex-shrink: 0; */
        max-width: 100%;
        min-height: 18%;
    }

    .kard_product {
        padding: 0px 20px 0px 20px;
    }


    .svg_or {
        display: none;
    }
}